.stars-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -10;
  pointer-events: none;

  /* Luxury Background */
}

.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -10;

  background:
    radial-gradient(circle at top, rgba(197, 174, 134, 0.12), transparent 40%),
    radial-gradient(
      circle at bottom right,
      rgba(125, 135, 112, 0.18),
      transparent 45%
    ),
    linear-gradient(180deg, #201710 0%, #2f2118 35%, #453124 70%, #2d2119 100%);
}

/* GOLD STAR */

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffe8b0;
  border-radius: 999px;

  box-shadow:
    0 0 8px #ffd27a,
    0 0 16px #ffcc66,
    0 0 24px #ffb84d;

  animation: fall linear forwards;
}

/* GOLD STREAK */

.streak {
  position: absolute;
  width: 4px;
  height: 28px;

  background: linear-gradient(to bottom, #ffe8b0, transparent);

  border-radius: 999px;

  animation: fall linear forwards;
}

/* GREEN STAR */

.star-green {
  position: absolute;
  width: 10px;
  height: 10px;

  background: #8affc1;

  border-radius: 999px;

  box-shadow:
    0 0 8px #5cff9d,
    0 0 16px #33ff88,
    0 0 24px #00e673;

  animation: fall linear forwards;
}

/* GREEN STREAK */

.streak-green {
  position: absolute;

  width: 4px;
  height: 28px;

  background: linear-gradient(to bottom, #8affc1, transparent);

  border-radius: 999px;

  animation: fall linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(120vh);
    opacity: 0;
  }
}
