@import "tailwindcss";

:root {
  --sage: #7d8770;
  --cream: #f7f2eb;
  --gold: #c5ae86;
  --taupe: #9c8d7c;
  --text: #342d28;
  --amber: #8b5e3c;
  --dark: #2c2a28;
  --white: #ffffff;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  /* background: var(--cream); */
  color: var(--text);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.hero-image {
  animation: zoomEffect 8s ease-in-out infinite;
}

@keyframes zoomEffect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

/* luxury background */

.gold-star {
  position: absolute;
  top: 100vh;
  border-radius: 9999px;
  background: #ffd27a;
  opacity: 0.9;

  box-shadow:
    0 0 6px #ffcc66,
    0 0 14px rgba(255, 204, 102, 0.45);

  animation: flowUp linear infinite;
}

@keyframes flowUp {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* .luxury-bg {
  background: #b9c0b7;
}

.particle {
  position: absolute;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.25),
    0 0 18px rgba(197, 174, 134, 0.35);
  animation: floatParticle linear infinite;
}

@keyframes floatParticle {
  0% {
    transform: translateY(40px) translateX(0);
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  50% {
    transform: translateY(-200px) translateX(25px);
  }

  80% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(-500px) translateX(-20px);
    opacity: 0;
  }
} */

/* star movement */

/* @keyframes moveStars {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100vh);
  }
} */
